.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.notActive {
  margin-right: 1% !important;
  background: #dbb593 !important;
  border-radius: 50% !important;
  color: #372e24 !important;
}
.active {
  background-color: #372e24 !important;
  border-radius: 50% !important;
  margin-right: 1% !important;
  width: 5% !important;
  color: #f1dac5 !important;
}
.arrowBtn {
  background: #dbb593 !important;
  border-radius: 50% !important;
  margin-right: 1% !important;
  height: 50px;
  width: 30px !important;
  color: #372e24 !important;
  font-size: 24px !important;
}
