@import "src/styles/vars";

.sideBarList {
  .active {
    background-color: $input-beige;
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 15px;

    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    span {
      color: $black-text;
      font-weight: 500;
      font-size: 1.1em;
    }
  }
}
