@import "src/styles/vars";

.sales {
  display: flex;
  background-color: $admin-background;

  .salesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 100px;
    flex: 6;

    .header {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 50px;
      .headerProfile {
        height: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
        flex: 2;
      }
    }

    .salesContent {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 15px;

      .left {
        flex: 4;

        .totalInfo {
          h4 {
            font-size: 1.5em;
            margin-bottom: 10px;
          }
          .totalList {
            max-width: 400px;
            margin-bottom: 10px;
            li {
              display: flex;
              justify-content: space-between;
              strong {
                font-weight: 500;
              }
              span {
                font-weight: lighter;
              }
            }
          }
        }
        .chart {
          h4 {
            font-size: 1.2em;
            margin-bottom: 10px;
          }
        }
      }
      .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        .widget {
          width: 90%;
        }
      }
    }
  }
}
.svg g > rect:first-child {
  fill: transparent !important;
}
.svg g:last-child > rect {
  fill: white !important;
  padding: 10px !important;
}
.google-visualization-tooltip {
  border: none !important;
}

.svg g:nth-child(6) > text {
  font-family: inherit !important;
}
