$primary-beige: #eccfb5;
$secondary-beige: #f1dac5;
$background-color: #fff2e3;

$beige-background: #f5dac0b3;
$black-text: #372e24;
$error-text: rgba(244, 86, 86, 1);
$hover-green: #20b930;

//INPUTS
$input-beige: #dbb593;
$input-text: #74614d;

//BUTTONS
$primary-button: #372e24;

//BORDER
$border-color: #372e24;

//need to change color, it was error
$beige-modal: #daa364;

//ADMIN
$admin-background: #fff2e3;
$admin-approved: #c1f2d8;
$admin-pending: #f1f2c1;
$admin-banned: #f2c1c1;
$admin-deleted: rgba(244, 86, 86, 1);
