@import "../../../../styles/vars.scss";

.collections {
  padding: 40px 0px;
  width: 100%;
  background-color: $beige-background;

  & &__title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 28px;
    color: #372e24;
    font-weight: 600;
  }

  & &__items {
    display: flex;
    flex-direction: column;

    & .collections__item {
      display: flex;
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: none;
      cursor: pointer;
      margin-bottom: 10px !important;
      transition: transform 0.2s linear;

      &:hover {
        transform: scale(1.02);
      }

      & .collections__img {
        max-width: 50%;
        max-height: 750px;
        width: 100%;
        padding: 0px 10px;
      }

      & .collections__content {
        justify-self: center;
        align-self: center;
        margin: 0 auto;

        & .collections__text {
          font-size: 50px;
          font-weight: 300;
          font-family: "Montserrat";
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .collections__text {
    font-size: 36px !important;
    font-weight: 300;
    font-family: "Montserrat";
  }
}

@media screen and (max-width: 700px) {
  .collections__text {
    font-size: 26px !important;
    font-weight: 300;
    font-family: "Montserrat";
  }
}
