@import "src/styles/vars";

.users {
  display: flex;
  background-color: $admin-background;

  .usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 100px;
    flex: 6;

    .header {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 50px;
      .headerLeft {
        display: flex;
        align-items: flex-start;
        gap: 100px;
        flex: 4;
        .widgets {
          flex: 2;
        }
        .popularUsers {
          flex: 3;
        }
      }
      .headerProfile {
        height: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
        flex: 2;
      }
    }

    .usersContent {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 50px;
      .left {
        flex: 7;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        .tableContainer {
          width: 100%;
        }
      }
    }
  }
}
