@import "../../styles/vars.scss";
@import "src/index";

.cartPage {
  background-color: $beige-background;
  .cartPageOrder {
    width: 100%;
    margin-bottom: 30px;
  }
}

.cartPageListTitle {
  font-size: 2em;
  margin-bottom: 10px;
  @include md {
    font-size: 1.3em;
  }
}

.cartPageMain {
  width: 100%;
  height: 100%;
  @include md {
    text-align: center;
  }
}

.cartPageWrapper {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  padding: 20px;
  @include md {
    flex-direction: column;
    gap: 30px;
  }
}
.cartPageSum {
  width: 800px;
  @include md {
    width: 100%;
  }
}
