@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.makeOrderPage {
  font-family: "Montserrat";
  background-color: $beige-background;
  padding: 80px 0px;

  & .header {
    text-align: center;
    margin: 20px 0px 15px;
    color: $black-text;
  }
  & p {
    font-family: "Montserrat";
    font-size: 20px;
    & span {
      font-weight: bold;
    }
  }
  & ol li,
  & ul li {
    font-size: 20px;
    margin: 20px 55px;
    @include md {
      font-size: 16px;
    }
    & p {
      margin-bottom: 10px;
    }
  }
  & ol li {
    list-style-type: decimal;

    & ul li {
      list-style-type: lower-latin;
      & a {
        color: $black-text;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
