@import "src/styles/vars";
@import "src/styles/mixins";

.headerProfileNav {
  position: absolute;
  width: 150px;
  top: 45px;
  right: -20px;
  background-color: $primary-beige;
}
.headerProfileNav ul li:first-child {
  border-top: none;
}
.headerProfileNav ul li {
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid hsla(0, 100%, 100%, 0.6);
}

.headerProfileNav ul li:hover {
  @include hover {
    background-color: #eccfb5;
  }
}
.headerProfileNav ul li a {
  color: black;
  font-size: 14px;
}
.headerProfileNav ul li button {
  width: 100%;
  background: none;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
}
