@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.error {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  background-color: $beige-background;
  &.center {
    padding-top: 16%;
    min-height: 70vh !important;
    background-color: $beige-background;

    @include x-lg {
      padding-top: 22%;
    }
    @include md {
      padding-top: 35%;
    }
    @include sm {
      padding-top: 45%;
    }
    @include xsm-2 {
      padding-top: 55%;
    }
  }

  & .text {
    color: #f2200d;
    font-size: 1.4rem;

    @include sm {
      font-size: 1.1rem;
    }
  }
}
