@import "src/styles/vars";

.backButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $black-text;
  font-size: 1.1em;
  cursor: pointer;

  i {
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
